{% load static %}

<html lang="ru">
    <head>
        <title>Peloton</title>
        <script src="{% static "js/common.js" %}"></script>
        <script src="{% static "js/race.js" %}"></script>
    </head>

    <body>
        PELOTON
        <div style="position: relative;">

            <canvas id="track_layer_1"
                    width=800 height=600
                    style="position: absolute; left: 0; top: 0; z-index: 0; background-color: bisque"
            ></canvas>

            <canvas id="track_layer_2"
                    width=800 height=600
                    style="position: absolute; left: 0; top: 0; z-index: 1"
            ></canvas>

        </div>

        <script>
            const
                trackStart = new TrackPosition(350, 200, 10.0),
                ctx_layer_1 = document.getElementById("track_layer_1").getContext("2d"),
                ctx_layer_2 = document.getElementById("track_layer_2").getContext("2d");


            request({url: "/api/track/0/"})
                .then(
                    data => {
                        let trackData = JSON.parse(data);
                        const
                            track = new Track(
                                trackData.id,
                                trackData.name,
                                trackStart,
                                trackData.sectors
                            ),
                            race = new Race(track);
                        track.draw(ctx_layer_1);

                        race.run()
                    },
                    error => {
                        alert(error);
                    }
                ).catch(error => {
                    console.log(error);
                });
        </script>
    </body>
</html>